<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhehao.fishing.like.mapper.PostLikeMapper">


    <insert id="likePost" parameterType="com.zhehao.fishing.model.PostLikeEntity">
        INSERT INTO post_likes (like_time, user_id, post_id)
        VALUES (#{likeTime}, #{userId}, #{postId})
    </insert>

    <delete id="unlikePost" parameterType="com.zhehao.fishing.model.PostLikeEntity">
        DELETE FROM post_likes WHERE user_id = #{userId} AND post_id = #{postId}
    </delete>

    <select id="myLikesOfPost" parameterType="java.lang.Long" resultType="java.util.List">
        SELECT post_id FROM post_likes WHERE user_id = #{userId}
    </select>

    <delete id="deleteByPostId" parameterType="Long">
        DELETE FROM post_likes WHERE post_id = #{postId}
    </delete>

</mapper>
